# OS / editor files
.DS_Store
Thumbs.db

# Python
__pycache__/
dags/__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Local Python environments
venv/
.venv/

# Local environment variables / secrets
.env
keys/

# Local Airflow runtime files
.airflow/
logs/

# Local source data drops
local_data/

# Logs
*.log